/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    /* Home Page Start */
    .menu-area nav ul li a {
        margin-left: 30px;
    }
    
    .menu-area {
        margin-left: 30px;
    }
    
    .monitor_area img {
        width: 100%;
    }

    /* Home Page End */


    /*  Page Start */
    /*  Page End */

    /*  Page Start */
    /*  Page End */
}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    html{
        font-size: 55%;
    }
    /* Home Page Start */
    .menu-area nav ul li a {
        margin-left: 20px;
    }
    
    .menu-area {
        margin-left: 65px;
    }
    
    .monitor_area img {
        width: 100%;
    }
    .hero-btn_grp {
        width: 100%;
    }
    .hero_cont_top button img{
        display: none;
    }
    .hero-btn_grp a {
        margin-bottom: 20px;
    }
    
    .hero_img i img {
        max-width: 285px;
    }
    
    .hero_img {text-align: right;margin-left: auto;max-width: 200px;}
    
    .hero_area {
        margin-top: 60px;
    }
    
    .hero-btn_grp {
        margin-top: 50px;
    }
    
    section.hero_area img.hero_bg {
        height: 900px;
    }
    .Countdown_wrp {
        margin: 60px 0 80px;
    }
    footer.footer-area .container {
        padding: 70px;
    }
    /* Home Page End */

}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: 55%;
    }
    /* Home Page Start */
    .menu-area nav ul li a {
        margin-left: 20px;
    }
    
    .menu-area {
        margin-left: 65px;
    }
    .hero_cont {
        max-width: 575px;
        margin-bottom: 90px;
    }
    
    section.monitor_area .sec_title {
        max-width: 558px;
    }
    .monitor_area img {
        width: 100%;
    }
    .hero-btn_grp a {
    }
    .hero_cont_top button img{
        display: none;
    }
    .hero-btn_grp a {
        margin-bottom: 20px;
    }
    
    .hero_img {text-align: right;margin-left: auto;max-width: 200px;}
    
    .hero_area {
        margin-top: 60px;
    }
    
    .hero-btn_grp {
        margin-top: 50px;
        width: 100%;
    }
    .Countdown_wrp h6 {
        font-size: 3.5rem;
    }
    
    .Countdown_wrp p {
        width: 120px;
    }
    
    .Countdown_wrp ul {
        justify-content: space-between;
    }
    section.hero_area img.hero_bg {
        height: 1259px;
    }
    .brand_logo {
        margin-bottom: 70px;
    }
    
    section.blog_area .row:nth-child(4) {justify-content: center;}
    .Countdown_wrp {
        margin: 60px 0 80px;
    }
    .svc_content {
        margin: auto;
        max-width: 450px;
        margin-bottom: 50px;
    }
    
    section.service_area .row:first-child {
        margin-bottom: 50px;
    }
    
    section.service_area .row:nth-child(3) {
        flex-direction: column-reverse;
    }
    
    section.service_area .row:nth-child(3) .svc_img {
        text-align: center;
    }
    .footer_cont {
        max-width: 400px;
        margin-bottom: 40px;
    }
    
    .footer_btm {
        margin-top: 50px;
    }
    footer.footer-area .container {
        padding: 70px;
    }
    /* Home Page End */

}

 
/* small screen :320px. */
@media (max-width: 767px) {
    html{
        font-size: 50%;
    }
    /* Home Page Start */
    .menu-area nav ul li a {
        margin-left: 20px;
    }
    .header-area {
        padding: 20px 0;
    }
    
    .hero_cont h1 {
        font-size: 3rem;
        max-width: 300px;
    }
    .menu-area {
        margin-left: 65px;
    }
    .hero_cont {
        max-width: 374px;
        margin-bottom: 90px;
    }
    
    section.monitor_area .sec_title {
        max-width: 558px;
        margin-top: 30px;
        padding: 0 10px;
    }

.sec_title h2 {
    font-size: 24px;
    line-height: 150%;
}
    .monitor_area img {
        width: 100%;
    }

.monitor_area a.thm_btn {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
    .hero-btn_grp a.thm_btn {
    margin-right: 100px;
    padding: 17px 35px 15px;
    }

.thm_btn {
    padding: 17px 35px 15px;
}
    .hero_cont_top button img{
        display: none;
    }
    .hero-btn_grp a {
    margin-bottom: 15px;
    display: inline-block;
    }
    
    .hero_img {text-align: right;margin: unset;margin-left: auto;max-width: 229px;width: 100%;}

.hero_img img {
    width: 100%;
}

.hero_img span img {
    width: 100px;
}

.hero_img span {
    left: -49px;
}

.hero_img .hero_img_txt {
    left: -75px;
    width: 100%;
    top: -30px;
}

.hero_img_txt p img {
    width: max-content;
    right: auto;
    left: 0;
}
    
    .hero_area {
        margin-top: 40px;
    }

.mb_100 {
    margin-bottom: 50px;
}
    
    .hero-btn_grp {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .Countdown_wrp h6 {
        font-size: 3.5rem;
    }
    
    .Countdown_wrp p {
    }
    
    .Countdown_wrp ul {
        justify-content: space-between;
        flex-wrap: wrap;
    }

.Countdown_wrp ul li {
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
}
    section.hero_area img.hero_bg {
        height: 1099px;
    }
    .brand_logo {
        margin-bottom: 50px;
    }

.blog_bdr {
    margin-top: 60px;
}
    
    section.blog_area .row:nth-child(4) {justify-content: center;}

section.blog_area .row:nth-child(4) .col-md-6 {
}
    .Countdown_wrp {
        margin: 40px 0 50px;
        overflow: hidden;
        padding: 37px 25px 20px;
    }
    .svc_content {
        margin: auto;
        max-width: 315px;
        margin-bottom: 50px;
    }

.svc_btn {
    margin: 50px 0 30px;
}

section.service_area .row {
    margin-bottom: 55px;
}

.svc_content h1 {
    font-size: 22px;
}

.svc_img img {
    max-width: 300px;
    margin: auto;
}
    
    section.service_area .row:first-child {
        margin-bottom: 50px;
    }
    
    section.service_area .row:nth-child(3) {
        flex-direction: column-reverse;
    }
    
    section.service_area .row:nth-child(3) .svc_img {
        text-align: center;
    }
    .footer_cont {
        max-width: 400px;
        margin-bottom: 40px;
    }

.footer_nav {
    margin-bottom: 35px;
}

.footer_nav a {
    margin-bottom: 10px;
}

.footer_nav h5 {
    margin-bottom: 15px;
}

v {}
    
    .footer_btm {
        margin-top: 0px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

section.site_info p {
    margin-bottom: 20px;
    margin-left: unset;
    max-width: 100%;
}

.site_info {
    margin-top: 40px;
}

.footer_btm a {
    margin-bottom: 10px;
}
    footer.footer-area .container {
        padding: 35px;
    }
    /* Home Page End */
 
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
